html{
    height:100%;
}

body{
    height:100%;
}

.wrapper{
    padding: 0 20px;
    height:100%;
    max-width:600px;
    margin:0 auto;
}

.wrapper > .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.button{
    padding: 0 30px;
    transition: linear 0.2s all;
}

.message:not(:last-child) {
    margin-bottom: 0;
}